# -*- coding: utf-8 -*-

# Can be used to map Trac components to GitLab labels. (source => target)
component_translation_map = {
    'some_component': 'NewGitlabLabel'
}

# Can be used to map Trac keywords to GitLab labels.
keywords_map = {
    'some_keyword': 'NewGitlabLabel'
}

# Used to set the colors for labels as they are created in the GitLab database.
label_colors = {
    'some_label': '#8080FF',
    'invalid': '#FF0000'
}

# Can be used to map [foo] or foo: as prefix in issue titles to issue labels.
label_prefix_translation_map = {
    'some_prefix': 'NewGitlabLabel'
}

# Trac versions are mapped to milestones. Trac milestones which have a value in this map get
# converted to a GitLab label with the provided name. Note that a single milestone can be converted
# to multiple labels.
milestone_map = {
    'some_milestone': ["label1", "label2"],
}
