# -*- coding: utf-8 -*-

# Can be used to map Trac components to GitLab labels. (source => target)
component_translation_map = {
    'some_component': 'NewGitlabLabel'
}

# Can be used to map Trac keywords to GitLab labels.
keywords_map = {
    'some_keyword': 'NewGitlabLabel'
}

# Used to set the colors for labels as they are created in the GitLab database.
label_colors = {
    'some_label': '#8080FF',
    'invalid': '#FF0000'
}

# Can be used to map [foo] or foo: as prefix in issue titles to issue labels.
label_prefix_translation_map = {
    'some_prefix': 'NewGitlabLabel'
}
