# vim: autoindent tabstop=4 shiftwidth=4 expandtab softtabstop=4 filetype=python fileencoding=utf-8

users = [
    {
        'email': 'john.doe@acmeinc.com',
        'username': 'johndoe',
        'name': 'John Doe',

        # Optional, provide if you want extra secondary email addresses to be set up for the user.
        # Useful for git commit-to-username mapping.
        'extra_emails': [
            'john@acmeinc.net'
        ],

        # Optional, provide if you want the SSH key(s) to be set up automatically.
        'ssh_keys': [
            {
                'title': 'john.doe@acmeinc.com',

                # Overwrite with value from ~/.ssh/id_rsa.pub after generating SSH key.
                'key': 'ssh-rsa AAAAB3...'
            }
        ]
    },
    {
        'email': 'elvis.presley@acmeinc.com',
        'username': 'elvispresley',
        'name': 'Elvis Presley',

        # You can set this for users who have left the building. These will
        # be marked as blocked in GitLab. Useful to be able to retain
        # history of issues/wiki for people who are no longer working in
        # the company. Note that the email address for these accounts can
        # be made-up; it does not need to exist at the time of running the
        # script.
        'blocked': True
    },
]

# The groups mentioned here should exist in your GitLab configuration
default_groups = [
    'acmeinc'
]

# Add to this list all users who should receive an automatic fork of the main project.
fork_users = [
    'johndoe'
]
